{% extends "base.html" %}
{% block main %}

<h4>Employees in Department of {{department.dname}}</h4>
<table>
         <thead>
            <tr>
               <th>First Name</th>
               <th>Last Name</th>
               <th>SSN</th>
               <th>Salary</th>
               <th>Action</th>
            </tr>
         </thead>
          <tbody>
            {% for e in emps %}
             <tr>
               <td>{{e.fname}} </td>
               <td>{{e.lname}} </td>
               <td>{{e.ssn}} </td>
               <td>{{e.salary}} </td>
               <td>
                <form action="/process_confirmation" method="POST">
                    <input type="submit" value="Confirm">
                </form>
              </td>
             </tr>
            {% endfor %}
{% endblock %}